$header-height: 50px;
$left-sidebar-width: 200px;
$right-sidebar-width: 300px;
$border-color: rgba(0, 0, 0, 0.05);
$primary-color: #2ecc71;
$ptext-color: #38064d;
$header-color: #faaaf3;
$chanle-color: #b658ae;
$message-color: #a00493;
$danger-color: #e74c3c;
$body-color: #2c3e50;